<div class="new-user">
  <h2>Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field form-row-register">
      <%= f.label :role %><br/>
      <%= f.select :role, {sinhvien:1, xinghiep:2} %>
    </div>
  
    <div class="field">
      <%= f.label :email, class: "input-regis" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "input-textbox" %>
    </div>
  
    <div class="field">
      <%= f.label :password, class: "input-regis" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "input-textbox" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, class: "input-regis"%><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "input-textbox" %>
    </div>
  
    <div class="field form-row-register">
      <%= f.label :name , class: "input-regis" %><br/>
      <%= f.text_field :name , class: "input-textbox" %>
    </div>
  
    <div class="field form-row-register">
      <%= f.label :address , class: "input-regis" %><br/>
      <%= f.text_field :address , class: "input-textbox" %>
    </div>
  
    <div class="field form-row-register">
      <%= f.label :phonenumber , class: "input-regis" %><br/>
      <%= f.text_field :phonenumber , class: "input-textbox"%>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up" , class: "bt-signup" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
