<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "hei" %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary ,class: "hei"%>
  </div>

  <div class="field">
    <%= form.label :id_user %>
    <%= form.number_field :id_user,class: "hei" %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status,class: "status" %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_field :skill,class: "skill" %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>