<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title, class: "hei", placeholder: "Ex: Web application" %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.text_field :salary ,class: "hei", placeholder: "Ex: 2000$" %>
  </div>

  <div class="field">
    <%= form.label :skill %>
    <%= form.text_area :skill, class: "skill", placeholder: "Ex: C#, C, Java" %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, class: "tb-time", placeholder: "Ex: 3 days or 3 hours" %>
  </div>

  <div class="actions bt-createjob">
    <%= form.submit %>
  </div>
<% end %>