<p id="notice"><%= notice %></p>

<h3><%=@job.title %></h3>

<p>
  <strong>Id_user:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>


<p>
  <strong>Id_user:</strong>
  <%= @job.id_user %>
</p>


<p>
  <strong>Skill:</strong>
  <%= @job.skill %>
</p>

<p>
  <strong>Time:</strong>
  <%= @job.time %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
